.container {
    margin: 0 auto;
    width: 95%;
}

table {
    table-layout: fixed; 
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    border-collapse: collapse;
}

table th, td {
    padding: 10px;
}

thead {
    width: 100%;
    background: #eee;
}

tbody {
    width: 100%;
}

tr {
    border-bottom : 1px solid #eee;
}

tbody td:nth-of-type(2) {
    text-align: left;
}

tbody td:nth-of-type(2) a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button {
    padding: 10px 13px;
    color: white;
    border: none;
}

.grey-button {
    background: #555;
}

.blue-button {
    background: #003458;
}

.blue {
    color: blue;
}

.search input {
    height: 30px;
    width: 150px;
}

.search select {
    height: 35px;
    width: 100px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.top-margin {
    margin-top: 1%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1%;
}

.container:nth-of-type(2) {
    min-height: 600px;
}

.container:last-of-type {
    margin-top: 5%;
    text-align: center;
}

ul {
    list-style: none;
    margin: none;
}

li {
   display: inline-block; 
   border: 1px solid #eee;
   text-align: center;
   line-height: 40px;
   width: 40px;
   height: 40px;
}

.active {
    background-color: #555;
    color: white;
}