<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .col {
        height: 300px;
        width: 300px;
      }

      img {
        background-size: cover;
      }
    </style>
  </head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <body>
    <div class="gallery">
      <div class="container container-fluid container-1">
        <div
          class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-2 g-lg-3"
        >
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 1</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 2</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 3</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 4</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 5</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 6</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 7</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 8</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 9</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 10</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 11</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 12</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 13</span></div>
          </div>
        </div>
        <div id="endPage-1"></div>
        <div
          class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-2 g-lg-3"
        >
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 1</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 2</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 3</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 4</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 5</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 6</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 7</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 8</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 9</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 10</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 11</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 12</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 13</span></div>
          </div>
        </div>
        <div id="endPage-2"></div>
        <div
          class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-2 g-lg-3"
        >
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 1</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 2</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 3</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 4</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 5</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 6</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 7</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 8</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 9</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 10</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 11</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 12</span></div>
          </div>
          <div class="col col-sm col-lg card">
            <div
              class="card-body"
              style="
                background-image: url('images/Documentary.jpg');
                background-size: contain;
              "
            ></div>
            <div class="card-footer"><span>갤러리 13</span></div>
          </div>
        </div>
        <div id="endPage-3"></div>
      </div>
    </div>
    <script>
      $(document).ready(function () {});
      let container = document.querySelector("#endPage-1");
      const option = {
        root: null,
        rootMargin: "10px",
        threshold: 1,
      };

      let pageIndex = 0;

      const io = new IntersectionObserver((entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            pageIndex++;
            io.unobserve(entry.target);
            $(".container").append(
              $("<div/>")
                .attr("class", "row")
                .append($("<ul/>").append($("<li/>").text("1")))
            );
            $(".container").append(
              $("<div/>").attr("id", "endPage-" + pageIndex)
            );
            container = document.querySelector("#endPage-" + pageIndex);
            io.observe(container);
          }
        }),
          option;
      });

      io.observe(container);
    </script>
  </body>
</html>
